<div class="row">
<h1>Review guest requirements</h1>

<p><h4><span class="fa fa-dot-circle-o"> From The Sharer :</span></h4>  <%= @post.the_field('info-experiences-supply') %></p>
<hr/>
<p><h4><span class="fa fa-sun-o">Age :</span></h4>  <%= @post.the_field('info-experiences-supply') %></p>
<hr/>
<p><h4><span class="fa fa-map-marker"> Government ID :</span></h4>  <%= @post.the_field('info-experiences-supply') %></p>
</div>